name: CI
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  gr-3-9-ppa:
    name: GNURadio 3.9 PPA
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install GNURadio
        run: |
         sudo add-apt-repository ppa:gnuradio/gnuradio-releases
         sudo apt update
         sudo apt install gnuradio-dev
         sudo apt install cmake libsndfile-dev
         sudo apt install -y --allow-downgrades pybind11-dev=2.4.3-2build2
      - name: Build
        run: |
         cmake -B build
         cmake --build build
      - name: Install
        run: |
         cd build
         sudo make install
         sudo ldconfig
      - name: Demod PRBS15 SigMF
        run: |
         iridium-extractor test-data/prbs15-2M-20dB.sigmf-meta |grep ^RAW > prbs15-2M-20dB.bits
         cat prbs15-2M-20dB.bits | grep 0011000000110000111100111000000000000011000000000000101000000000001111000000000010001000000000110011000000001010101000000011111111000000100000001000001100000011000010100000101000111100001111001000100010001011001100110011101010101010100111111111111101000000000000111000000000001001000000000011011000000000101101000000001110111000000010011001000000110101011000001011111101000011100000
      - name: Test raw samples
        run: |
         ln -s prbs15-2M-20dB.sigmf-data test-data/prbs15-2M-20dB.fc32
         iridium-extractor --offline -c 1622000000 -r 2000000 -f float test-data/prbs15-2M-20dB.fc32 |grep ^RAW > prbs15-2M-20dB.bits.raw
         cmp prbs15-2M-20dB.bits prbs15-2M-20dB.bits.raw
      - name: Test SigMF Archive support
        run: |
         tar cf test-data/prbs15-2M-20dB.sigmf test-data/prbs15-2M-20dB.sigmf-*
         iridium-extractor test-data/prbs15-2M-20dB.sigmf |grep ^RAW > prbs15-2M-20dB.bits.archive
         cmp prbs15-2M-20dB.bits prbs15-2M-20dB.bits.archive
      - name: Install gr-osmosdr
        run: |
         git clone https://github.com/osmocom/gr-osmosdr
         cd gr-osmosdr
         cmake -B build
         cmake --build build
         cd build
         sudo make install
         sudo ldconfig
      - name: Open SDR
        run: |
         iridium-extractor examples/hackrf-10msps.conf 2>&1 | tee stderr-out
         cat stderr-out | grep "No supported devices found"
