name: CI
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install GNURadio
        run: |
         sudo add-apt-repository ppa:gnuradio/gnuradio-releases
         sudo apt update
         sudo apt install gnuradio-dev
         sudo apt install cmake libsndfile-dev
      - name: Build
        run: |
         cmake -B build
         cmake --build build

  prbs15-demod:
    name: PRBS15 Demod
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2

      - name: Install
        run: |
         sudo add-apt-repository ppa:gnuradio/gnuradio-releases
         sudo apt update
         sudo apt install python3-pip
         sudo apt install gnuradio-dev
         sudo apt install cmake libsndfile-dev
         cmake -B build
         cmake --build build
         cd build
         sudo make install

      - name: Demod
        run: |
          export PYTHONPATH=/usr/local/lib/python3/dist-packages
          sudo ldconfig
          iridium-extractor --offline -c 1622000000 -r 2000000 -f float test-data/prbs15-2M-20dB.fc32 > prbs15-2M-20dB.bits
          cat prbs15-2M-20dB.bits | grep 0011000000110000111100111000000000000011000000000000101000000000001111000000000010001000000000110011000000001010101000000011111111000000100000001000001100000011000010100000101000111100001111001000100010001011001100110011101010101010100111111111111101000000000000111000000000001001000000000011011000000000101101000000001110111000000010011001000000110101011000001011111101000011100000
